<h1><%="#{@vendor[:attributes][:name]}"%></h1>

<p><%= @vendor[:attributes][:description] %></p>
<p><%= @vendor[:attributes][:contact_name] %></p>
<p><%= @vendor[:attributes][:contact_phone] %></p>
<p><%= @vendor[:attributes][:credit_accepted] %></p>
